.mainbody{
    font-size: 15px;
    display:flex;
    flex-direction: row;
    background-color: rgb(3, 3, 77);
    border-radius: 14px;
    margin-left:70px ;
    margin-right:0px ;
    margin-top:80px ;
    margin-bottom:0px ;
    width:1375px;
    height: 550px;
}

.astra{
    display:flex;
    flex-direction: column;
    color:white;
    padding:50px;
}

.items{
    display:flex;
    flex-direction: row;
    gap:80px;
    color:white;
    padding:90px;
}

.icon{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.imgdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.text{
    margin-left:70px;
    margin-top: 10px;
    gap:150px;
    display:flex;
    align-items: center;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.gray{
    color:gray;
    font-size: 14px;
    margin-bottom: 0px;
}

.smalldiv{
    display: flex;
    align-items: center;
    gap:8px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.footer{
    display: flex;
    align-items: center;
    margin:10px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

